<head>
    <title>{{ name }}: Journalist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/frameworks.css">
    <link rel="stylesheet" href="static/site.css">
    <link rel="stylesheet" href="static/github.css">
    <style>
    /* Page tweaks */
    .preview-page {
      margin-top: 64px;
    }
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
    }
    @media (max-width: 767px) {
        .markdown-body {
            padding: 15px;
        }
    }
    </style>
</head>

<body>
<div class="page">
    <div id="preview-page" class="preview-page">
        <div role="main" class="main-content">
            <div class="container new-discussion-timeline experiment-repo-nav">
                <div class="repository-content">
                    {% for entry in entries %}
                    <div id="{{ entry['shortdate'] }}" class="readme boxed-group clearfix announce instapaper_body md">
                        <h3>
                            <span class="octicon octicon-book"></span>
                            {{ entry['date'] }}
                        </h3>
                        <article class="markdown-body entry-content" itemprop="text">{{ entry['content']|safe }}</article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>